@*@{
    ViewBag.Title = "AboutMe";
}*@
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<body style="background-image: none;">
 <p style="color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        I have devoted all of my time since 2015 to developing .Net applications using C# with Windows Presentation Foundation, ASP.NET,
        and WinForms User Interface. I have over 25 years of experience with the IT industry, and worked with major ISPs as well as Federal
        Government.</p>
    <img src="@Url.Content("~/Content/1.jpg")" width="1000" height="3000" />
</body>

