@{
    ViewBag.Title = "Contact";
    
    <h2 style="margin-left:600px">@ViewBag.Title. </h2>
    <h3 style="margin-left:600px">@ViewBag.Message  </h3>
    
}
<div class="jumbotron">
    <img style="margin-left:600px; border:groove; border-width:5px; " src="~/images/Contact.png" />
</div>

@*<abbr title="Phone">P:</abbr>
    425.555.0100


    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@