@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

    <div class="jumbotron">
        <h1>Peace, Love, and Harmony</h1>
        <p class="lead">Welcome to my page, and my life, which is dedicated to progress, connection, and happiness.
        I use it to demo some of my sample work. 
        I am so greatful to my gracious hosts at Somee.com, who provide this account for free. It Helps to keep me from 
        having to host this content at home, and the overhead associated with securing it.</p>
        <p>Click the button below to see a sample form with support for <abbr title="Create Read Update Delete">CRUD</abbr> functionality, and a backend MS SQL for data storeage.</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Sample Form &raquo;</a></p>*@
        <p><a href="~/Employee"class="btn btn-primary btn-lg">Sample Form &raquo;</a></p>
    </div>

@*<div class="row">
    <div class="col-md-4">
        <img src="~/images/buddha-1564179404232.jpg" />
    </div>
    <div class="col-sm-4">
        <img src="~/images/buddha-1564179404232.jpg" />
    </div>
    <div class="col-xs-4">
        <img src="~/images/buddha-1564179404232.jpg" />
    </div>
    
</div>*@