@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

    <div class="jumbotron">
        <h1>Peace, Love, and Harmony</h1>
        <p class="lead">Welcome to my page, and my life, which is dedicated to progress, connection, and happiness.
        I use it to demo some of my sample work. 
        I am so greatfull to my gracious hosts at Somee.com, who provide this account for free. It Helps to keep me from 
        having to host this content at home, and the overhead associated with securing it.</p>
        <p>Click the button below to see a sample form with support for CRUD functionality, and a backend MS SQL for data storeage.</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Sample Form &raquo;</a></p>*@
        <p><a href="~/Employee"class="btn btn-primary btn-lg">Sample Form &raquo;</a></p>
    </div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
    
</div>