body {
    background-image: url(https://banner2.kisspng.com/20180126/xze/kisspng-cartoon-buddhism-buddha-s-birthday-bhikkhu-buddha-smiling-with-folded-hands-vector-material-5a6b89b11079b6.1467250115169970410675.jpg);
    background-position:center;
    padding-top: 450px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
